extends layout

block content
  h1 #{title}
    body
      div
        h3 Name: #{tutorName}
        h5 Calendar type: #{calendarType}
      div
        h4 some calendar data
          p #{availability}

  if errors
   ul
    for error in errors
     li!= error.msg